@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0px;
	margin: 0px;
}


body{
    font-family: "Montserrat", sans-serif;
    background-color: #B0E1FF;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}



.main{
    margin:  0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.block{
    margin-top: 160px;
    width: 529px;
    border-radius: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
}

.block-main1{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 90px;
    
}
.block-main2{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 15px;
}

.block-main-text{
    padding-top: 20px;
    font-size: 32px;
}

.block-main-logo{
    font-size: 48px;
    font-weight: 600;
}

.block-main-input{
    margin-top: 30px;
}

.block-main-input-style{
    width: 277px;
    margin-top: 20px;
    height: 38px;
    border-radius: 10px;
    background-color: #EAF7FF;
    border: 2px solid #B0E1FF;
    font-size: 18px;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
}

.block-main-input-style::placeholder{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.block-main-button{
    border: 0px solid #B0E1FF;
    background-color: #051AFF;
    height: 38px;
    width: 297px;
    border-radius: 10px;
}

.block-main-button{
    border: 0px solid #B0E1FF;
    background-color: #051AFF;
    height: 38px;
    width: 297px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 25px;
}

.block-main-button:hover{
    cursor: pointer;
    background-color: #0718d5;
}

.block-main-bottom-text{
    color: #051AFF;
    margin-top: 5px;
}

.block-main-bottom-text:hover{
    text-decoration: underline;
}